<?xml version="1.0" encoding="utf-8"?>
<widget id="com.example.android" version="0.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Android Test</name>
  <preference name="IconSource" value="android.svg" />
  <preference name="IconBackgroundColor" value="#ff8800" />
</widget>
